# Virtual environment
.venv/
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Flask environment variables
.env
.flaskenv

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db